- css_class = local_assigns.fetch(:css_class, '')

- if project.marked_for_deletion?
  = gl_badge_tag _('pending deletion'), { variant: :warning }, { class: css_class }
- elsif project.archived
  = render Pajamas::BadgeComponent.new(_('Archived'), variant: 'info', class: css_class)
